// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//css
@import 'sidebar';
@import 'footer';
@import 'home_page';
@import 'participants';
@import 'dashboard';
@import 'bus';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.nav_link, .nav_logo{
    text-decoration: none;
}

body {
    background-color: $salvemundi-background;
}

.container {
    margin-top: 4.5rem;
}

.btn-primary {
    background-color: $salveMundi-primary;
    color: white;
    border-color: $salveMundi-dark;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: $salveMundi-light;
    color: white;
    border-color: $salveMundi-light;
    box-shadow: none !important;
}
