// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//css
@import 'sidebar';
@import 'footer';
@import 'home_page';
@import 'participants';
@import 'dashboard';
@import 'bus';
@import 'signup';
@import 'navbar';
@import 'verify';
@import 'blogs';
@import 'qr-code';
// Bootstrap
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.nav_link, .nav_logo {
    text-decoration: none;
}

body {
    background-color: $salvemundi-background;
}

.container {
    margin-top: 4.5rem;
}

.btn-primary {
    background-color: $salveMundi-primary;
    color: white;
    border-color: $salveMundi-dark;
}
.btn-danger {
    color: white !important;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: $salveMundi-light;
    color: white;
    border-color: $salveMundi-light;
    box-shadow: none !important;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show,.showsidebar > .btn-primary.dropdown-toggle {
    color: white !important;
    background-color: $salveMundi-link !important;
    border-color: $salveMundi-link !important;
}

.btn-danger:hover, .btn-danger:focus {
    color: white !important;
    box-shadow: none !important;
}

.responses {
    width: 325px !important;
}

.form-control:focus {
    border-color: $salveMundi-light;
    box-shadow: 0 0 0 0.2rem rgba(57, 32, 59, 0.25);
}
