.labelBus {
    font-size: 0.9rem;
}

.containerBus {
    margin-top: 2rem;
}

.notEnoughPeople {
    background-color:rgb(253, 114, 114);
    border-radius: 4px;
}

.enoughPeople {
    background-color: rgb(161, 248, 161);
    border-radius: 4px;
}
