.center {
    display: flex !important;
    justify-content: center;
}

.underEightTeen {
    background-color:rgb(253, 114, 114);
    border-radius: 4px;
}

.aboveEightTeen {
    background-color: rgb(161, 248, 161);
    border-radius: 4px;
}

.aboveEightTeenQR {
    background-color: $salveMundi-light !important;
    color: white !important;
}

.underEightTeenQR {
    background-color: $salvemundi-background !important;
}

.participantCard {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.purpleOnly {
    background-color: $salveMundi-link !important;
}
.card-link {
    transition: 0.2s ease-in-out;
    padding: 0.3rem;
}
.card-link:hover {
    background-color: rgba(224, 169, 221, 0.3);
    border-radius: 8px;
    padding: 0.3rem;
    transition: 0.2s ease-in-out;
}
.card-link-button {
    background-color: rgba(26, 30, 33, 0);
    border-color: rgba(26, 30, 33, 0);
    color: $salveMundi-light;
    margin: 0 !important;
}
