.center {
    display: flex !important;
    justify-content: center;
}

.underEightTeen {
    background-color:rgb(253, 114, 114);
    border-radius: 4px;
}

.aboveEightTeen {
    background-color: rgb(161, 248, 161);
    border-radius: 4px;
}
