.center {
    display: flex !important;
    justify-content: center;
}

.underEightTeen {
    background-color:rgb(253, 114, 114);
    border-radius: 4px;
}

.aboveEightTeen {
    background-color: rgb(161, 248, 161);
    border-radius: 4px;
}

.aboveEightTeenQR {
    background-color: $salveMundi-light !important;
    color: white !important;
}

.underEightTeenQR {
    background-color: $salvemundi-background !important;
}

.participantCard {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
