.box {
    background: rgba(95, 54, 98, 0.05);
    border-radius: 5px;
}

.purple {
    color: $salveMundi-primary !important;
    font-weight: bold !important;
}


p {
    text-align: left !important;
}

a {
    color: $salveMundi-link !important;
}

a:hover {
    color: $salveMundi-primary !important;
}

.hr {
    border-top: 2px solid grey;
    max-width: 40%;
    margin-top: 2em;
}


.textCenter {
    text-align: center !important;
}

.timer {
    background: rgba(95, 54, 98, 0.4);
    border-radius: 5px;
}

.timer .container {
    margin: 0 auto;
    text-align: center;
}

.timer li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.timer li span {
    display: block;
    font-size: 3.5rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.form-label{
    margin-top: 0.5em;
    margin-bottom: 0 !important;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframeStyle {
    border-radius: 5px;
}

@media (max-width: 1400px) {
    .timer li {
        font-size: 0.8em;
    }
}

@media (max-width: 992px) {
    .timer li {
        font-size: 10px;
    }

    .timer li span {
        font-size: 2.5em;
    }
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }

    .addMarginBottom {
        margin-bottom: 1rem;
    }
}

.btn-primary:hover {
    background-color: $salveMundi-link !important;
    border-color: $salveMundi-link !important; 
}