.samuLogo {
    filter: invert(1);
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}
.center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box {
    background: rgba(95, 54, 98, 0.05);
}

.purple {
    color: $salveMundi-primary !important;
    font-weight: bold !important;
}

.box-purple {
    background: rgba(95, 54, 98, 0.29);
    border-radius: 5px;
}

.hr{
    border-top: 3px solid $salveMundi-primary;
    opacity: 0.61 !important;
    width: 50%;
    margin-top: 2em;
}

// slider //

.imgIndex {
    width: 100%;
}

.imgSlider{
    width: 100% !important;
}

@media (min-width: 600px) {
    .imgSlider{
        width: 60% !important;
    }
}

.slick-left:before {
    color: $salveMundi-primary !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    font-size: 40px !important;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    content: '<';
    margin-left: -17px;
    transition: ease-in-out 0.2s;
}
.slick-left.slick-arrow {
    margin-left: -17px !important;
}
.slick-right:before {
    color: $salveMundi-primary !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    font-size: 40px !important;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    content: '>';
    transition: ease-in-out 0.2s;
}

.slick-right:hover::before,
.slick-left:hover::before {
  background: $salveMundi-primary !important;
  color: white !important;
  transition: ease-in-out 0.2s;
}

.slick-right,
.slick-left {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-right {
    right: -25px;
}

[dir='rtl'] .slick-right {
    right: auto;
    left: -25px;
}

.slick-left {
    left: -25px;
}

[dir='rtl'] .slick-left {
    right: -25px;
    left: auto;
}
