.samuLogo{
    filter: invert(1);
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}
.center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box{
    background: rgba(95, 54, 98, 0.05);
}

.purple{
    color: $salveMundi-primary !important;
    font-weight: bold !important;
}

.box-purple{
    background: rgba(95, 54, 98, 0.29);
}
